/* Reset Webpage Styling */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  box-sizing: border-box;
  background-color: rgba(0, 51, 102, 0.8);
  height: 100%;
  font-family: "Lato", sans-serif;
}

button:hover {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 75%;
}

.heading {
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 51, 102, 0.9),
      rgba(0, 51, 102, 0.9)
    ),
    url("/img/header-bg.jpg");
  padding-top: 10rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Home page styling */
.header {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: 3px;
  color: #fff;
  text-align: center;
}

.heading__description {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
}

.section {
  text-align: center;
}

/* Search bar */
.search {
  margin-top: 10rem;
  position: relative;
}

.search-bar {
  margin-top: 3rem;
  font-size: 3rem;
}

.search-bar__input {
  padding: 3rem;
  border: 5px solid #007bff;
  border-radius: 10px 0 0 10px;
  width: 100%;
  outline: none;
  position: absolute;
  left: 0;
}

.search-bar__button {
  color: #fff;
  background-color: #007bff;
  border: 5px solid #007bff;
  border-radius: 0 10px 10px 0;
  padding: 3rem;
  position: absolute;
  right: 0;
  text-align: center;
}

/* Footer styles */
.footer {
  font-size: 16px;
  color: #002141;
  margin: 2rem 0 2rem 0;
  color: #fff;
  letter-spacing: 1px;
}

.footer a:hover {
  color: #007bff;
}

/* Results */

.results {
  margin: 10rem 0 3rem 0;
}

.card {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

/* Navbar styles */
.nav {
  padding: 1rem 5rem;
  font-size: 2rem;
  letter-spacing: 1px;
  background-color: #003366;
}

.nav__link {
  font-weight: 300;
  text-align: left;
  text-decoration: none !important;
  color: #fff;
  transition: all 0.3s;
  padding: 0.5rem;
}

.nav__link:hover {
  color: #003366;
}

.navbar-brand__image {
  border-radius: 5px;
  margin-right: 5px;
}

/* Map */
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}
.custom-modal {
  color: white;
  height: 75vh;
  width: 75%;
  background-color: #fff;
  border: 1px solid #007bff;
  outline: none;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.modal-options {
  margin-top: 10rem;
}

/* Util classes */
.u-text-space-lg {
  letter-spacing: 0.2rem;
}

.u-text-sm {
  font-size: 1.5rem;
}

.u-text-md {
  font-size: 2rem;
}

.u-text-lg {
  font-size: 3rem;
}

.u-margin-top-lg {
  margin-top: 10rem;
}

/* Media queries */
@media only screen and (max-width: 640px) {
  .header {
    font-size: 4rem;
  }

  .card {
    width: 100%;
  }
  .nav {
    justify-content: center;
  }

  .search {
    margin-top: 1rem;
  }

  .search-bar__button,
  .search-bar__input {
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 265px) {
  .data__value {
    font-size: 3rem;
  }
}
