<nav class="nav navbar bg-primary fixed-top navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand u-text-md u-text-space-lg text-light" href="/">
      <img class="navbar-brand__image" src="/img/brand.jpg" width="23" height="23" alt="">VillaBode</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav__link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav__link" href="/listings">Listings</a>
      </li>
    </ul>
  </div>
</nav>