<nav class="nav navbar navbar-dark bg-primary navbar-expand-lg">
  {{!-- <a class="navbar-brand u-text-md u-text-space-lg text-dark" href="#">Villabode</a> --}}
  <a class="nav__link" href="/">Home</a>
  <a class="nav__link" href="/listings">Listings</a>
</nav>