<nav class="nav navbar bg-primary fixed-top navbar-expand-lg">
  <a class="navbar-brand u-text-md u-text-space-lg text-light" href="#">

    <img class="navbar-brand__image" src="/img/brand.jpg" width="23" height="23" alt="">VillaBode</a>
  <a class="nav__link" href="/">Home</a>
  <a class="nav__link" href="/listings">Listings</a>
</nav>